.carousel-container {
  width: 500px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #111;
  user-select: none;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

.carousel-scene {
  width: 100%;
  height: 100%;
  perspective: 180px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.3s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-image {
  position: absolute;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}
